:root {
  /* --carolina-blue: #439cdcff; */
  --carolina-blue: #3C7FD0;
  --steel-blue: #3C7FD0;
  --blue-gray: 130, 163, 194;
  --egg-white: #FAF7EF;
  --error-red: #d11717;
  --test: #fa8072, #c0d6e4, #20b2aa, 
         #003366, #3C7FD0, 
          #8884d8,#5a918a,#fccda6,#8b8b6f, 
          #9c335b,#4c5a91,#BA7BA1,#93E1D8,#856084,#C3DBC5,#73A580
  ;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--egg-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-default-style {
  text-decoration: none;
  padding: 0.7rem;
  background-color: var(--carolina-blue);
  color: white;
  /* margin: 0.5rem; */
  text-align: center;
  font-size: 1rem;
  border: none;
}

.btn-default-style:hover {
  cursor: pointer;
}