.clickableRow {
    cursor: pointer;
}

.clickableRow:hover {
    background-color: rgba(var(--blue-gray),0.2);
}

.openClickableRow {
    /* background-color: rgba(var(--blue-gray),0.2); */
    /* font-weight: bolder; */
}

.dataRows {
    font-size: 90%;
    /* width: 100%; */
}

td.angleIcon{
    padding-left: 2rem;
}