.jobBoxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.jobBox {
    width: 49%;
    min-width: 30rem;
}

.summaryBox {
    display: flex;
    align-items: center;
}