.detailsTable {
    flex: 3;
}
.PieChart {
    /* float: right;
    margin-top: -250px; */
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: start;
    text-align: center;
}

.boxContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}