.box {
    width: 100%;
    border: 2px solid var(--carolina-blue);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title {
    margin: 0;
    padding: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: var(--carolina-blue);
    color: white;
}

.title:hover {
    cursor: pointer;
}

.title .arrowIcon{
    transition: all 0.2s;
}

.title:hover .arrowIcon {
    /* transform: translateY(3px); */
    transform: scale(1.15);
    transition: all 0.2s;
}

.title:active .arrowIcon {
    /* transform: translateY(3px); */
    transform: scale(1);
    transition: all 0.2s;
}

.content {
    padding: 0.2rem;
}

.arrowIcon {
    font-size: 1.5rem;
    transition: all 0.2s;

}