.top {
    background-color: var(--carolina-blue);
    padding: 1rem;
    color: white;
}

.top h2{
    margin: 0;
}

.content {
    border: 2px solid var(--carolina-blue);
    background-color: var(--egg-white);
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.content button {
    width: 7rem;
}

.errorText {
    margin: 1rem;
    font-size: 1.2rem;
    color: var(--error-red)
}