.json {
    font-size: 1rem;
}

.json p {
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top: 2rem;
}

.buttons a {
    margin: 0.5rem;
}

.main {
    padding: 2rem;
}

.top {
    display: flex;
    align-items: center;
}

.top h2 {
    flex: 2;
    text-align: right;
}

.tabs button {
    margin-right: 0.5rem;
    min-width: 6rem;
}

.contentBox {
    margin-top: 0;
}

.boxTitle {
    min-height: 2rem;
}

.unselectedTab {
    background-color: rgb(130, 163, 194);
}