.json {
    font-size: 1rem;
}

.json p {
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-top: 2rem;
}

.buttons a {
    margin: 0.5rem;
}

.main {
    padding: 2rem;
}