.main {
    width: 100%;
    overflow: auto;
    margin: 0;
    background-color: var(--carolina-blue);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .logo {
    margin: 0.5rem;
    margin-left: 2rem;
    color: inherit;
    background: none;
    text-decoration: none;
}

.main .logo:hover {
    transform: translateY(-2px);
    /* box-shadow: 0px 4px 3px 0px grey; */
    filter: drop-shadow( 0px 4px 2px rgba(0, 0, 0, .7));
    transition: all 0.2s;
}

.main .logo:active{
    transform: translateY(0px);
    filter: none;
    transition: all 0.2s;
}

.main nav {
    margin-right: 2rem;
}