.main {
    width: 100%;
    overflow: auto;
    margin: 0;
    background-color: var(--carolina-blue);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main a {
    margin-left: 2rem;
    color: inherit;
    background: none;
    text-decoration: none;
}

.main nav {
    margin-right: 2rem;
}